*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

/* img */

.img{
    max-width: 100%;
    max-height: 600px;
}

.carousel__img{
    display: none;
    justify-content: center;
    padding: 50px;
}

.active{
    display: flex;
}