*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

body{
    background-color: cadetblue;
}

/* img */
.carousel{
    position: relative;
    padding: 40px 0px;
}

.img{
    max-width: 100%;
    max-height: 600px;
}

.carousel__img{
    display: none;
    justify-content: center;
}

.active{
    display: flex;
}

.slide{
    width: 100%;
    padding: 0px 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}